* {
  margin: 2px;
  padding: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-style: italic;
  color: crimson;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

p {
  margin-top: 0.5em;
  word-spacing: 0.3ex;
  display: block;
}

ul {
  margin: 10px;
  padding: 10px;
}

pre {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
  margin-left: 1em;
  border-width: 0 0 0 5px;
  border-style: solid;
  border-color: silver;
  padding: 1em 0em 1em 1em;
  margin-left: 1em;
}

iframe {
  width:1px;
  height: 1px;
  background-color: silver;
  visibility: hidden;
}

.testcase {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
  color: gray;
}

.framecharset {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
  color: gray;
}

.pass {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
  color: green;
}

.fail {
  font-family: 'Bitstream Vera Sans Mono', 'Andale Mono', 'Lucida Console', monospace, fixed;
  color: red;
}

.container {
  float: left;
  width: 1200px;
  margin: 0 auto;
}

.header {
}

.column-left {
  border: 1px dashed green;
  width: 550px;
  float: left;
  padding: 1em;
}

.column-left:before {
  content: "<span class='pass'>PASS</span> results";
}

.column-right {
  border: 1px dashed crimson;
  width: 550px;
  float: left;
  padding: 1em;
}

.column-right:before {
  content: "<span class='fail'>FAIL</span> results";
}

.column-error {
  border: 1px dashed yellow;
  width: 400px;
  float: left;
  padding: 1em;
}

.footer {
  clear: both;
}
